:root {
  --primary-color: #9A0021;

  --secondary-ff: "Inter", sans-serif;

  --medium-fw: 500;

  --main-content-color: #1A1C19;
  --rate-color: #7C5800;
}

html {
  background-color: #f5f5f5;
}

body>* {
  width: 100%;
}

header {
  .nav-item {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -0.5rem;
      width: 0;
      border: 2px solid transparent;
      border-radius: .25rem;
      transition: all ease-in-out 0.3s;
    }

    &:hover::after {
      width: 100%;
      border-color: var(--primary-color);
    }
  }

  .nav-item-selected {
    color: var(--primary-color);
    opacity: 1;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -0.5rem;
      width: 100%;
      border: 2px solid var(--primary-color);
      border-radius: .25rem;
    }
  }
}

/* blog page */
main {
  background-color: #fff;
  max-width: 80rem;

  button.page-selected {
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    color: #fff;
  }

  /* marketplace page */
  .star-icon {
    cursor: pointer;
    transition: all ease-in-out 0.3s;

    &:hover {
      font-variation-settings: 'FILL' 1;
      color: var(--rate-color);
    }
  }

  .favorite-icon {
    cursor: pointer;
    transition: all ease-in-out 0.3s;

    &:hover {
      font-variation-settings: 'FILL' 1;
      color: var(--primary-color);
    }
  }
}

/* regional specialties page */
.nav-inner {
  display: flex;
  align-items: center;
  font-family: var(--secondary-ff);
  text-transform: capitalize;
  font-size: .875rem;
  line-height: 1.25rem;
  letter-spacing: .0219rem;

  >li {
    display: flex;
  }

  >:not(:last-child) {
    color: #5C403FB2;
  }

  >:not(:last-child)::after {
    content: ">";
    padding-left: .5rem;
    font-size: .875rem;
  }

  >:last-child {
    padding-left: .5rem;
    font-weight: var(--medium-fw);
    color: var(--main-content-color);
  }
}